package migrate

import (
	"slices"

	"gorm.io/gorm"
)

var (
	Plan{{.Timestamp}} = NewMigrationPlan("{{.Timestamp}}", {{.UpFuncName}}, {{.DownFuncName}})
)

func init() {	
	if !slices.ContainsFunc(plans, func(p *MigrationPlan) bool {
		return p.ID == Plan{{.Timestamp}}.ID
	}) {
		panic("Plan{{.Timestamp}} is not registered")
	}
}

// {{.UpFuncName}} applies the migration
func {{.UpFuncName}}(tx *gorm.DB) error {
	return nil
}

// {{.DownFuncName}} rolls back the migration
func {{.DownFuncName}}(tx *gorm.DB) error {
	return nil
}